@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Autour One', cursive;
}

body {
  background-color: rgb(192, 243, 192);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}

nav {
  display: none;
}

article > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  gap: 1rem;
}

button {
  cursor: pointer;
}

div > button {
  background-color: transparent;
  border: 2px solid green;
  height: 40px;
  width: 140px;
  border-radius: 5px;
}

figure > img {
  width: 15rem;
}

.footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
}

.footer > img {
  width: 3rem;
}

footer {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

a > img {
  width: 25px;
}

@media screen and (min-width: 900px) {
  header {
    justify-content: space-between;
    padding: 2rem;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav > a {
    color: black;
    cursor: pointer;
  }

  .login,
  .register {
    padding: 1em 2em;
    border-radius: 5px;
  }

  .login {
    background-color: transparent;
    border: 2px solid green;
    border-radius: 5px;
  }

  .register {
    background-color: green;
    border: 2px solid green;
  }

  article > section {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  section > div {
    width: 50%;
  }

  figure > img {
    width: 20rem;
  }

  .footer {
    height: 5rem;
  }

  .footer > img {
    width: 5rem;
  }

  footer {
    flex-direction: row;
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  h6 {
    width: 45%;
    padding: 0 0 0 1rem;
  }
}
